@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Styles/Style.css">
</head>
<body>
    <header>
        <div class="header-container">
            @Html.ActionLink("Lots", "Index", "Auction")
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Purchased Items", "GetPurchsedLots", "Auction")
                @Html.ActionLink("Lot Management", "LotManagment", "Auction")
                @Html.ActionLink("My Profile", "MyProfile", "Auction")
                @Html.ActionLink("LogOut", "Logout", "Auction")
            }
            else
            {
                @Html.ActionLink("Login", "Login", "Auction")
            }
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
